.monospace-text {
    -fx-font-family: 'Consolas', 'SF Mono', 'DejaVu Sans Mono', 'monospace';
    -fx-font-size: 14px;
}

.text-area {
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5, 4, 3;
}

.text-area-bad-input {
    -fx-border-color: red;
    -fx-faint-focus-color: #ff000022;
}